@import url('https://fonts.googleapis.com/css?family=Montserrat');
body{
    font-family: 'Montserrat', sans-serif;
}
/*
    Component Header
*/
.header{
    padding: 1em;
    margin: 0;
    background-color: #47BEC9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: center;
    

}
[class^="header-section-"]{
    flex: 1 1 100%;
}
.header-section-title{
    text-align: center;
}
.header-title{
    padding: 0;
    margin: 13px 0;
    font-size: 3rem;
}
.header-section-photo{
    text-align: center;
}
.header-photo{
    width:150px;
    height: auto;
    max-width: 100%;
 
}

.header-section-name{
    text-align: center;
}
.header-name{
    font-size: 25px;
    margin: 0;
    font-weight: bold;
}
.header-profession{
    font-size: 20px;
    margin: 0;
    
}
.header-section-info{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    text-align: center;
    margin: 14px 0;
}
.header-section-info > p{
    margin: 5px 0;
}
.header-phone,
.header-email
{
    flex: 1 1 auto;
    font-size: 18px;
}
.header-country,
.header-contact
{
    flex: 1 1 100%;
    font-size: 18px;
}
.header-contact{
    font-weight: bold;
    font-size: 20px;
}

/*
    End Component Header
*/
/*
    Component Body
*/
.body{
    background-color:#44443F;
    padding: 30px 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start
    
}

.section-title{
    margin: 0;
    padding: 0;
}
.section-item{
    display: flex;
    margin: 30px 0;
    flex-wrap: wrap;
    justify-content: space-between;
}
.section-item .section-item-element:nth-child(1){
    flex: 0 0 17%;
}
.section-item .section-item-element:nth-child(2){
    flex: 0 0 80%;
}

.section-item-line{
    width: 100%;
    background-color:#47BEC9;
    height: 8px;
    margin-bottom: 3px;
}
.section-item-year{
    font-size: 15px;
    margin: 0;
    text-align: left;
}
.section-item-institution{
    margin:0 0 10px 0; 
    font-weight: bold;
    
}
.section-item-detail{
    margin: 0;
}
/*
    End Component Body
*/
/*
    Component Skills
*/

.skills-title{
    margin: 10px 0;
}
.skills-section-title{
    margin: 10px 0;
}
.skills-item{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
}
.skills-item-title{
    flex: 1 1 60%;
    margin: 12px 0;
}
.skills-item-progress{
    flex: 1 1 40%;
}
/*
    End Component Skills
*/


#experience,
#education,
#others
{
    flex: 1 1 57%;
    
}
#skills,
#integrations,
#recognitions{
    flex: 1 1 40%;
    
}
#education{
    order: 1;
}
#experience{
    order: 2;
}
#skills{
    order: 3;
}
#integrations{
    order: 4;
}
#others{
    order: 5;
}
#recognitions{
    order: 6;
}



/*
Classs Util
*/
.progress-bar{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;

}
.progress-bar .circle{
    border-radius: 50%;
    background-color: #D9D9D9;
    width: 15px;
    height: 15px;
    flex: 0 0 auto;
    margin:0 3px;
}
.progress-bar .circle.fill{
    background-color:#FFFB63;

}
.primary-color{
    color: white;
}
.second-color{
    color: #FFFB58;
}
.size-title-section{
    font-size: 25px;
    margin: 10px 0;
}
.size-subtitle-section{
    font-size: 20px;
}
.detail-text{
    font-size: 16px;
    margin: 0 5px;
    line-height: 22px;
}


@media (min-width: 361px) { 
    /*
        Component Header
    */
    .header-section-photo,
    .header-section-name
    {
        flex:1 1 33%;
    }
    .header-section-name{
        text-align: left;
    }
    /*
        End Component Header
    */

    /*
        Component Section
    */
    .section-item-year{
        text-align: right;
    }
    /*
        End Component Section
    */
    


}
@media (min-width: 576px) 
{
    /*
        Component Header
    */
    .header-section-photo{
        text-align: right
    }
    .header-section-name{
        flex:1 1 33%;
    }
    .header-section-info{
        flex:1 1 33%;
        text-align: left;
    }
    .header-section-info > p{
        flex:1 1 100%;
    }
    .header-photo{
        width: 100%;
        max-width: 200px;
    }
    /*
        End Component Header
    */
    #experience{
        order: 3;
    }
    #skills{
        order: 2;
    }
    

}

/* Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {
    /*
        Component Header
    */
    .header-name{
        font-size:35px;
    }
    /*
        End Component Header
    */
    
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
    /*
        Component Section
    */
    .section-item .section-item-element:nth-child(1){
        flex: 0 0 19%;
    }
    .section-item .section-item-element:nth-child(2){
        flex: 0 0 80%;
    } 
    /*
        End Component Section
    */
    .body{
        padding: 30px 50px;  
    }
    
}

/* Extra large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {
    .body{
        padding: 30px 10%;  
    } 

}